@import 'reset.css';
/* @import "function.css"; */
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";  
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
.w {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
body {
  font-size: 100%;
  color: #000;
  font-size: 12px;
  line-height: 2;
  margin: 8px;
}
a:hover {
  text-decoration: underline;
}
span.fb {
  font-weight: bold;
}
.header {
  border-bottom: 1px solid #ccc;
}
.header .content {
  width: 659px;
}
.main .nav {
  margin: 5px auto;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #090;
}
.main .nav a {
  width: 14.285714285714286%;
  box-sizing: border-box;
}
.main .nav a+a {
  border-left: 1px solid #090;
}
.main .content-block {
  border: 1px solid #090;
  box-sizing: border-box;
}
.main .content-block .left {
  width: 68.75%;
  box-sizing: border-box;
  border-right: 1px solid #090;
}
.main .content-block .left .index-block .ads {
  padding: 5px 0;
}
.main .content-block .left .index-block h3 {
  background: #e6f2cc;
  line-height: 26px;
  font-weight: bold;
}
.main .content-block .left .index-block .two-columns {
  width: 100%;
  padding: 5px 5px 0;
  box-sizing: border-box;
}
.main .content-block .left .index-block .two-columns .columns {
  width: 49.5%;
}
.main .content-block .left .index-block .two-columns .columns+.columns {
  margin-right: 0.5%;
}
.main .content-block .left .index-block .two-columns .columns .item .text {
  width: 170px;
  padding-left: 5px;
  box-sizing: border-box;
}
.main .content-block .left .index-block .two-columns .columns .item .text h4 {
  font-weight: bold;
  line-height: 1.5;
}
.main .content-block .left .index-block .two-columns .columns .item .text p {
  line-height: 22px;
  padding-top: 10px;
}
.main .content-block .left .index-block .two-columns .columns h3 {
  padding-left: 30px;
  line-height: 32px;
  background: #e6f2cc url("http://d.j2dg.com/im/t.jpg") 10px center no-repeat;
}
.main .content-block .left .index-block .two-columns .columns h3 .more {
  height: 32px;
  width: 32px;
  float: right;
  background: url("http://d.j2dg.com/im/more.png") center center no-repeat;
}
.main .content-block .left .index-block .two-columns .columns li {
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
}
.main .content-block .left .index-block .two-columns .columns li:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: -2px;
}
.main .content-block .left .location {
  padding: 10px 0;
}
.main .content-block .left .detalis {
  min-height: 650px;
}
.main .content-block .left .detalis h2 {
  font-size: 18px;
  color: #060;
  margin: 13px 0;
  font-weight: bold;
  text-align: center;
}
.main .content-block .left .detalis .bgf0 {
  background: #f0f0f0;
}
.main .content-block .left .detalis .pt26 {
  padding-top: 26px;
}
.main .content-block .left .detalis .pb13 {
  padding-bottom: 13px;
}
.main .content-block .left .detalis .ti2em {
  text-indent: 2em;
}
.main .content-block .left .detalis .page-control {
  margin: 30px 0 10px;
  width: 80%;
  padding: 10px 0;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
}
.main .content-block .left .detalis ul li {
  width: 50%;
  float: left;
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
}
.main .content-block .left .detalis ul li:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  border: 2px solid #000;
  border-radius: 50%;
  margin-top: -2px;
}
.main .content-block .left .list h3 {
  padding-left: 30px;
  background: url("http://d.j2dg.com/im/t.jpg") 10px center no-repeat;
  font-weight: bold;
}
.main .content-block .left .list .tac {
  text-align: center;
}
.main .content-block .left .list .pb10 {
  padding-bottom: 10px;
}
.main .content-block .right {
  width: 31.25%;
}
.main .content-block .right h3 {
  background: #e1ebd3;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: bold;
}
.main .content-block .right .pt10 {
  padding-top: 10px;
}
.main .content-block .right .pt15 {
  padding-top: 15px;
}
.footer {
  margin-top: 5px;
  border: 1px solid #666;
  text-align: center;
  min-height: 120px;
}
.footer .m0-13 {
  margin: 13px 0;
}

/*# sourceMappingURL=public.css.map */
